@use "../custom" as *;
@use "../components/mixins" as *;
.navbar {
  background-color: $dark-color;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 1px -1px rgba(255, 255, 255, 0.5);
  z-index: 99;

  @include flexRowBetween;
  a {
    img {
      width: 100%;
    }
  }

  .links {
    @include flexRowBetween;
    gap: 3.6rem;
    list-style-type: none;
    @include md {
      padding: 5rem;
      position: absolute;
      right: 0%;
      top: 100%;
      transform: translateX(100%);
      width: 15rem;
      transition: all 0.4s linear;
    }
    li {
      @include flexCenter;
      flex-direction: column;
      align-items: center;
      color: $text-color;
      font-weight: 500;
      font-size: 1.4rem;
      i {
        font-size: 1.8rem;
      }

      a:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  // .sidebar {
  //   background-color: red;
  //   position: absolute;
  //   right: 3%;
  //   top: 30%;
  //   display: flex;

  //   ul {
  //     display: flex;
  //     flex-direction: column;
  //     position: absolute;
  //     left: -600%;
  //     margin-top: 10rem;
  //     background-color: rgba(0, 0, 0, 0.35);
  //     width: 15rem;
  //   }
  //   li {
  //     display: flex;
  //     flex-direction: column;
  //     background-color: red;
  //   }
  // }

  .active-side {
    transform: translateX(0);
  }
  .hamburger {
    margin-right: 3.2rem;
    z-index: 9999;
    display: none;
    @include md {
      display: inline-block;
    }
    i {
      font-size: 2.4rem;
      color: $text-color;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
}
