@use "../custom" as *;
@use "../components/mixins" as *;

.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50rem;
    height: 80vh;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 50%;
    margin-bottom: 5rem;

    input{
        min-height:3.2rem ;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color:#f4f4f4;
    font-weight: 600;
    

    .head{
        th{
            font-weight: 600;
            font-size: 1.8rem;
        }
    }
  }
  
  td, th {
    border: 1px solid #f4f4f4;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: $primary-color;
    color:$dark-color;
    opacity:0.5;
}


.trash{
    background-color: transparent;
    border: none;

    &:hover{
        color: $secondary-color;
    }
}